/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Anton|Bangers|Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');

:root {
  --white-color: #ffffff;
  --light-grey-color: #EAE8E8;
  --light-green-color: #1ecc78;
  --green-color: #0cb765;
  --red-color: #EB1D27;
  --blue-color: #4f78a4;
  --dark-red-color: #d31017;
  --dark-grey-color: #363636;
  --black-color: #333030;
  --deep-black-color: #000000;
}

* {
  font-family: 'Roboto', sans-serif;
}

.welcomePage {
    background-color: var(--red-color);
  background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: space-between;
    height: 500px;
  }
  
  
  #game-over {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    height: 200px;
    width: 250px;
    text-align: center;
  }
  
  #game-over button {
    border: 3px solid #ffffff;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
   
    
    border-radius: 15px;
    cursor: pointer;
    display: block;
    width: 200px;
    font-size: 2em;
    display: inline-block;
  }


h2,
h3 {
  font-weight: normal;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}