/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Anton|Bangers|Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');

:root {
  --white-color: #ffffff;
  --light-grey-color: #EAE8E8;
  --light-green-color: #1ecc78;
  --green-color: #0cb765;
  --red-color: #EB1D27;
  --blue-color: #4f78a4;
  --dark-red-color: #d31017;
  --dark-grey-color: #363636;
  --black-color: #333030;
  --deep-black-color: #000000;
}

* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 70px;
  color: var(--white-color);
  font-weight: normal;
  text-align: center;
  letter-spacing: 6px;
  cursor: pointer;
  margin: 0 auto;
}

h1 a {
  color: inherit;
  text-decoration: none;
  font-family: 'Bangers', cursive;
}

h1 a:hover {
  color: inherit;
}

header {
  display: flex;
  justify-content: center;
  background-color: black;
}

.banner-container {
  padding: 20px 0;
  flex-basis: 80%;
}
