.playerShip {
    position: absolute;
    bottom: 5vh;
    left: 100vh;
    width: 15vh;
    height : 5vh;
    background-color: white;
}

.invader {
    width: 4rem;
    height: 4rem;
    background-image: "invader.png";
    background-size: contain;
}

.destroy {
    display: none;
}